<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />

    <title>{% block title %}MCslab{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.cerulean.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror-themes/ambiance.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" />
</head>
<body id="epsilon">
{% block body %}{% endblock %}
<script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/site.js') }}"></script>
{% block below %}{% endblock %}
</body>
</html>
