{% extends "main.html" %}
{% block content %}

{% for stat in stats %}
{% for k,v in stat %}
<h3> All statistics from {{ k }}</h3>
<table class="table table-hover">
<thead>
    <tr>
      <th>#</th>
      <th>Command</th>
      <th>Value</th>
    </tr>
</thead>
<tbody>
   {% set i=1 %}
   {% for name in v.keys() %}
    <tr>
      <td>{{ i }}</td>
      <td>{{ name }} </td>
      <td>{{ v[name] }}</td>
    </tr>
   {% set i=i+1 %}
   {% endfor %}
</table>
{% endfor %}
{% endfor %}

{% endblock %}
